<h2><%= link_to @user.username, user_path(@user) %></h2>

<h2><%= @fork.name %></h2>

<h3><%= @fork.topic.topic %></h3>

<% @fork.topic.tools.all.each do |tool| %>
  <%= link_to tool.text, edit_tool_path(tool) %>
<% end %>

<%= link_to "Add new Tool", new_tool_path %>


<%= link_to "Delete this Fork", user_fork_path(@user, @fork), method: :delete %>
