<h2><%= link_to @user.email, user_path(@user) %></h2>

<h2><%= @fork.name %></h2>

<% @fork.topic.tools.all.each do |tool| %>
  <div class="toolC"><p><%= tool.text %></p>
  <a href="<%= tool.source_url %>">Click here for more info.</a></div>
<% end %>


<p><%= link_to "Delete this Fork", user_fork_path(@user, @fork), method: :delete %></p>
